{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
    
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore similique eum repellendus sint quaerat, pariatur commodi! Accusantium atque et magnam ullam obcaecati sequi officiis! Voluptate, omnis nesciunt veniam aspernatur minus molestiae itaque commodi possimus mollitia! Sunt repellendus non repellat, iure amet recusandae fuga harum enim quos aliquam molestiae a expedita praesentium tempore commodi perspiciatis ipsum explicabo alias saepe? Vero aut necessitatibus eligendi ipsa harum tenetur consequuntur pariatur adipisci possimus reprehenderit et ex libero corrupti, illo odit impedit vitae delectus soluta! Similique quam repudiandae, veritatis delectus, rerum rem eos cum at modi doloribus distinctio temporibus recusandae fugiat aliquam incidunt. Eos, ex?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>

    </section>
</main>

{% endblock %}